<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <link rel="stylesheet" href="..\Public\css\welcome_page_style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Tic Tac Toe </h1>
            <!-- <img src="..\Images\tic_tac_toe-512.png" class="image"> -->
        <div class="playerNickname"> 
            <p>Enter your nicknames to start game: </p>
            <br>
            <label for="player1"><b>Player 1</b></label>
            <input type="text" placeholder="Enter player nickname" name="nickname" required>
            <label for="player2"><b>Player 2</b></label>
            <input type="text" placeholder="Enter player nickname" name="nickname" required>
            <button class=startGameButton> START GAME</button>
        </div>
        </div>
      
    </div>
</body>
</html>