<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Tic Tac Toe</title>
      <link rel="stylesheet" href="..\Public\css\start_page_style.css">
   </head>
   <body>
      <div class="container">
      <div class="header">
         <h1><img src="..\Images\coollogo_com-89251216.png"></h1>
      </div>
      <div class="frame">
         <img src="..\Images\kolkokrzyzyk.png" class="image">
         <p>Choose mode of your game: </p>
         <div class = "buttons">
            <a href="..\Views\loginPage.html" class="button">
            <button class=playerVsPlayer type="button"> 
                <img src="..\Images\playervsplayer.png" width="230" height="120" alt="img" />
            </button>
            </a>
            </br>
            <a href="..\Views\gameAi.html" class="button">
            <button class=playerVsAi type="button">
                <img src="..\Images\playervsai.png" width="200" height="115" alt="img" />
             </button>
            </a>
         </div>
      </div>
   </body>
</html>