
body {
	background-image: linear-gradient(#550A22,#24030d);
	font-family: 'padmaa', cursive;
}

h2 {
	color: red;
}

table.scoreboard tr td {
	text-align: center;
	min-width: 400px;
	color: red;
	font-weight: bold;
	font-size: 50px;
}


table.board {
	background: red;
	background: -webkit-linear-gradient(white, darkred);
	background: -o-linear-gradient(white, darkred);
	background: -moz-linear-gradient(white, darkred);
	background: linear-gradient(white, darkred);
	background: transparent;
}


table.board tr td {
	background-repeat: no-repeat;
	text-align: center;
	height: 100px; 
	width: 100px;
	cursor: pointer;
	font-size: 0;
	border: 3px solid black;
	border-radius: 5px;
}


.hiddenMessages {
	background: red;
	background: -webkit-linear-gradient(red, darkred);
	background: -o-linear-gradient(red, darkred);
	background: -moz-linear-gradient(red, darkred);
	background: linear-gradient(red, darkred);
	color: white;
	border: 0px solid white;
	margin: 5px;
	padding: 5px;
	display: none;
	font-size: 20px;
}

#winnerMessageBox {
	width: 300px;
}

#playAgainButton {
	cursor: pointer;
	padding: 10px 100px;
	font-family: 'Patrick Hand SC', cursive;
}

#playAgainButton:hover {
	background: darkred;
	background: -webkit-linear-gradient(red, darkred);
	background: -o-linear-gradient(red, darkred);
	background: -moz-linear-gradient(red, darkred);
	background: linear-gradient(red, darkred);
	opacity: 0.5;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding-top: 10px;
}


#difficulty-select {
	background: black;
	background: -webkit-linear-gradient(white, darkred);
	background: -o-linear-gradient (black, darkred);
	background: -moz-linear-gradient(black, darkred);
	background: linear-gradient(black, darkred);
	color: #f6eeba;
	border: 3px solid black;
	border-radius: 5px;
	padding: 2px;
	font-size: 55px;
	font-family: 'Patrick Hand SC', cursive;
	opacity: 0.4;
}

#difficulty-select option {
   color: black;
}

#difficulty-select:not(:checked) {
   color: black;
}

#difficulty-label {
	color:#f6eeba;
	font-size: 60px;
}

#difficulty-block {
	margin-bottom: 140px;
}

.paragraph {
	color: #ded7a9 !important;
	padding: 2px;
	font-size: 55px;
	font-family: 'Patrick Hand SC', cursive;
}